body {
    background-image: url('down.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {text-align: center; color: rgb(0, 255, 255);}
p {text-align: center; color: rgb(255, 255, 255); font-size:125%;}

.button {
    background-color: #03fcd2;
    border: 2px solid #5603fc;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: auto;
    cursor: pointer;
    font-family: Trebuchet MS;
    border-radius: 50px;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 90%;
}	

a:link {
    color: #0000ff;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #0000ff;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #03c6fc;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: #03fca5;
    background-color: transparent;
    text-decoration: none;
}

.nb {
    background-color: transparent;
    padding: none;
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center;
    font-family: Trebuchet MS;
    border: none;
}

.nb a:link {
    color: white;
}
.nb a:visited {
    color: white;
}
.nb a:hover {
    color: white;
}
.nb a:active {
    color: white;
}

.b1 {
    width: 8.5vw; 
    height: 14vh; 
    left: 31%;
    top: 50.5%;
}

.b2 {
    width: 7.75vw; 
    height: 16.5vh; 
    left: 33%;
    top: 79%;
}

.b3 {
    width: 6.5vw; 
    height: 16vh; 
    left: 56.80%;
    top: 62.5%;
}