body {
    background-image: url('temp.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h1 {text-align: center; color: rgb(0, 255, 255);}
    p {text-align: center; color: rgb(255, 255, 255);}

    .button {
      background-color: #03fcd2;
      border: 2px solid #5603fc;
      padding: 5px 10px;
      text-align: center;
      display: inline-block;
      font-size: 15px;
      margin: auto;
      cursor: pointer;
      font-family: Trebuchet MS;
      border-radius: 50px;
    }
    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
    }	

    a:link {
      color: #0000ff;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: #0000ff;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: #03c6fc;
      background-color: transparent;
      text-decoration: none;
    }
    a:active {
      color: #03fca5;
      background-color: transparent;
      text-decoration: none;
    }