body {
    background-image: url('boring_link.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    font-family: "Georgia", "Garamond", "Merriweather", "Baskerville", "Times New Roman", serif;
}

h1 {text-align: center; color: #ff4800;}
h3 {text-align: left; color: #ff9100; font-size:200%; padding-right: 20%;}
.p1 {text-align: center; color: #fca400; font-family: "Garamond";}
.p2 {text-align: left; color: #fedcba; font-family: "Georgia"; padding-right: 20%;}
.p3 {text-align: left; color: #E8DBCF; font-family: "Garamond"; padding-right: 20%;}
.p4 {text-align: left; color: #fedcba; font-family: "Garamond"; text-indent: 3ch;}

.button {
    background-color: #823919;
    border: 2px solid #521908;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: auto;
    cursor: pointer;
    font-family: serif;
    border-radius: 50px;
}

a:link {
    color: #EEAB93;
    background-color: transparent;
}
a:visited {
    color: #FFDBAF;
    background-color: transparent;
}
a:hover {
    color: #ff4800;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: #ff9100;
    background-color: transparent;
    text-decoration: none;
}